<!DOCTYPE html>
<html lang="en" ng-app="MASHApp">
<head>
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MASH | Profile</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/project.css">
    </head>
</head>
<body>

<div class="container" ng-init="profileLoad()">
    <div class="row">
        <div class="col-xs-10">
            <h1>Profile</h1>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-danger" ng-click="deleteConfirm()" style="width: 100%;">Delete</button>
        </div>
    </div>
    <div class="row" id="details">
        <div class="col-xs-12">
            <div class="row" ng-model="user.username">
                <div class="col-xs-12">
                    <label>Username</label>
                    {{user.username}}
                </div>
            </div>
            <div class="row" ng-model="user.current_location">
                <div class="col-xs-12">
                    <label>Current Location</label>
                    {{user.current_location}}
                </div>
            </div>
            <div class="row" ng-model="user.age">
                <div class="col-xs-12">
                    <label>Age</label>
                    {{user.age}}
                </div>
            </div>
            <div class="row" ng-model="user.major">
                <div class="col-xs-12">
                    <label>College Major</label>
                    {{user.major}}
                </div>
            </div>
            <div class="row" ng-model="user.gender">
                <div class="col-xs-12">
                    <label>Gender</label>
                    {{user.gender}}
                </div>
            </div>
            <div class="row" ng-model="user.orientation">
                <div class="col-xs-12">
                    <label>Orientation</label>
                    {{user.orientation}}
                </div>
            </div>
        </div>

        <!--Optional/generated parameters-->
        <div class="col-xs-12">
            <div class="row" ng-model="user.house">
                <div class="col-xs-12">
                    <label>You live in a:</label>
                    {{user.house}}
                </div>
            </div>
            <div class="row" ng-model="user.spouse">
                <div class="col-xs-12">
                    <label>You're married to:</label>
                    {{user.spouse}}
                </div>
            </div>
            <div class="row" ng-model="user.kids">
                <div class="col-xs-12">
                    <label>Number of kids:</label>
                    {{user.kids}}
                </div>
            </div>
            <div class="row" ng-model="user.job">
                <div class="col-xs-12">
                    <label>Job:</label>
                    {{user.job}}
                </div>
            </div>
            <div class="row" ng-model="user.location">
                <div class="col-xs-12">
                    <label>You will live in:</label>
                    {{user.location}}
                </div>
            </div>
            <div class="row" ng-model="user.pet">
                <div class="col-xs-12">
                    <label>You will have a pet:</label>
                    {{user.pet}}
                </div>
            </div>
            <div class="row" ng-model="user.vehicle">
                <div class="col-xs-12">
                    <label>You will drive a:</label>
                    {{user.vehicle}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="mash.html">
                <button class="btn btn-primary form-control">MASH it up!</button>
            </a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="../js/app.js"></script>
</body>
</html>