<!DOCTYPE html>
<html lang="en" ng-app="MASHApp">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MASH | Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/project.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

                    <h3 class="masthead-brand">MASH</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="../../index.html">Home</a>
                        <a class="nav-link" href="https://github.com/kayliedehart/dehart-kaylie-web-dev">Source</a>
                        <a class="nav-link" href="../../test/index.html">Test</a>
                    </nav>
        </div>
    </div>

    <form validate class="simple-form" id="loginForm" name="loginForm">

    <div class="row">
        <div class="col-xs-12">
            <input ng-model="user.username" type="text" placeholder="username" class="form-control" id="username" name="username" required/>
        </div>
    </div>
        <span ng-show="loginForm.$submitted && loginForm.username.$invalid">
            Username is required
        </span>
    <div class="row">
        <div class="col-xs-12">
            <input ng-model="user.password" type="password" placeholder="password" class="form-control" id="password" name="password" required/>
        </div>
    </div>
        <span ng-show="loginForm.$submitted && loginForm.password.$invalid">
            Password is required
        </span>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary form-control" ng-click="validate(user)"><a href="details.html/?{{id}}">Login</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-info form-control"><a href="register.html#">Register</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-warning form-control"><a href="mash.html#">Continue As Guest</a></button>
        </div>
    </div>

    </form>
    <!--<pre>user = {{user | json}}</pre> -->

</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="../js/app.js"></script>
</body>
</html>